html {
    overflow-x: hidden;
}

.selectElementButton {
    height: 80px;
    width: 125px;
    margin: 15px;
}

.defloat {
	float:none;
}

.addBold {
	font-weight: bold;
}

.radioButton {
    margin-bottom: 15px!important;
    margin-right: 10px!important;
}

.noDisc {
	list-style-type: none!important;
	padding-left: 0!important;
	margin-left: 0!important;
}

.bigTopMargin {
    margin-top: 200px;
    margin-bottom: 200px;
}

textarea {
	vertical-align: middle;
}

.possibleClasses {
    border-radius: 25px;
    border: 2px solid #8AC007;
    display: inline-block;
    padding: 5px;
    font-size: 10px;
}

.control-label {
    text-align: left!important;
}

ol li {
	padding-bottom: .5%;
}

.addBorder {
	border: 1px black solid;
}

.topMargin {
	margin-top: 50px;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

label {
	text-align: right;
}

.floatRight {
	float: right;
}

.leftMargin {
	margin-left: 2%;
}

.removeMargin {
	margin: 0;
}

.inline {
    display: inline-block!important;
}

.inputColor {
	background-color: #efefef;
}

.container-wrap {
	padding-bottom: 0!important;
}

.close {
    color: red!important;
    opacity: 1 !important;
    -webkit-box-shadow: none!important;
    box-shadow:  none!important;
}

.table {
    margin-bottom: 10px!important;
}

.subBtn {
	width: 100%!important;
	background-color: #FFC72C!important;
	padding: 10px 16px!important;
	font-size: 18px!important;
	line-height: 1.33!important;
	border-radius: 6px!important;
}

.removePadding {
	padding: 0!important;
}

.form-messages {
	font-size: 2em;
	color: blue;
	border: 5px red solid;
	text-align: center;
	display: none;
}

.smallText {
    font-size: 10px!important;
}

.alignCenter {
	text-align: center!important;
}

.errorBorder {
    border: 1px solid red!important;
}

.errorLabel {
    color: red!important;
    min-height: 20px!important;
	text-align: left!important;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	text-align: center!important;
}

.dateDiv {
	margin-top: 5%;
	margin-bottom: 15%!important;
}

th {
	font-weight: bold;
}

th, td {
	padding: 10px;
}

.elementDiv .btn {
    margin-top: 20px;
}

.elementDiv:last-child {
    margin-bottom: 0px;
}

.checkbox label {
    font-weight: bold!important;
}

.radio label {
    font-weight: bold!important;
}

label {
    font-weight: bold!important;
}

.radio {
    margin: 0!important;
}

input[type=checkbox], input[type=radio]{
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    position: relative!important;
    margin-left: 0!important;
}